# Test references created

Here we want to see how well _pilA_ gene aligns against PAO1+phage reference vs PA14+phage reference. This _pilA_ gene has a low sequence identity with ????

In [1]:
import os
import pandas as pd
import numpy as np
from Bio import SeqIO
from core_acc_modules import paths

In [2]:
%%bash -s $paths.PAO1_PHAGE_REF $paths.PAO1_PHAGE_DB_DIR

makeblastdb -in $1 -dbtype nucl -parse_seqids -out $2

Building a new DB, current time: 01/28/2021 16:44:08
New DB name:   /home/alexandra/Documents/Data/Core_accessory/blast/db/PAO1_PHAGE_DB
New DB title:  /home/alexandra/Documents/Data/Core_accessory/Pseudomonas_aeruginosa_PAO1_107_phage.fasta
Sequence type: Nucleotide
Deleted existing Nucleotide BLAST database named /home/alexandra/Documents/Data/Core_accessory/blast/db/PAO1_PHAGE_DB
Keep MBits: T
Maximum file size: 1000000000B
Adding sequences from FASTA; added 7483 sequences in 0.621432 seconds.

In [3]:
%%bash -s $paths.PA14_PHAGE_REF $paths.PA14_PHAGE_DB_DIR

makeblastdb -in $1 -dbtype nucl -parse_seqids -out $2

Building a new DB, current time: 01/28/2021 16:44:09
New DB name:   /home/alexandra/Documents/Data/Core_accessory/blast/db/PA14_PHAGE_DB
New DB title:  /home/alexandra/Documents/Data/Core_accessory/Pseudomonas_aeruginosa_UCBPP-PA14_109_phage.fasta
Sequence type: Nucleotide
Deleted existing Nucleotide BLAST database named /home/alexandra/Documents/Data/Core_accessory/blast/db/PA14_PHAGE_DB
Keep MBits: T
Maximum file size: 1000000000B
Adding sequences from FASTA; added 7685 sequences in 0.627573 seconds.

In [4]:
%%bash -s $paths.PILA_QUERY $paths.PAO1_PILA_BLAST_RESULT $paths.PAO1_PHAGE_DB_DIR
blastn -query $1 -out $2 -db $3 -outfmt 6

In [5]:
%%bash -s $paths.PILA_QUERY $paths.PA14_PILA_BLAST_RESULT $paths.PA14_PHAGE_DB_DIR
blastn -query $1 -out $2 -db $3 -outfmt 6

In [6]:
pao1_blast_result = pd.read_csv(paths.PAO1_PILA_BLAST_RESULT, sep="\t", header=None)
pa14_blast_result = pd.read_csv(paths.PA14_PILA_BLAST_RESULT, sep="\t", header=None)

In [7]:
# Add column names described above
col_names = [
    "qseqid",
    "sseqid",
    "pident",
    "length",
    "mismatch",
    "gapopen",
    "qstart",
    "qend",
    "sstart",
    "send",
    "evalue",
    "bitscore"
    
]

In [8]:
# BLAST results for PAO1
pao1_blast_result.columns = col_names
print(pao1_blast_result.shape)
print(pao1_blast_result["evalue"].max())
pao1_blast_result.head()

(2, 12)
3.12e-23

,qseqid,sseqid,pident,length,mismatch,gapopen,qstart,qend,sstart,send,evalue,bitscore
0,PA14_58730,PGD111890,98.387,62,1,0,1,62,1,62,3.120000e-23,110
1,PA4525,PGD111890,100.000,450,0,0,1,450,1,450,0.000000e+00,832

In [9]:
# BLAST results for PA14
pa14_blast_result.columns = col_names
print(pa14_blast_result.shape)
print(pa14_blast_result["evalue"].max())
pa14_blast_result.head()

(2, 12)
2.5100000000000002e-23

,qseqid,sseqid,pident,length,mismatch,gapopen,qstart,qend,sstart,send,evalue,bitscore
0,PA14_58730,PGD1660373,100.000,540,0,0,1,540,1,540,0.000000e+00,998
1,PA4525,PGD1660373,98.387,62,1,0,1,62,1,62,2.510000e-23,110